*{
	color: black;
	font-family: calibri;
}

p {
	font-size: 18px;
}

h2 {
	margin: auto;
	font-family: calibri;
	font-size: 40px;
}

strong {

	font-size: 23px;

}

ul {
	list-style-type: none;
	padding: 0;
}

ul > li{
	display: inline-block;
	margin: 0 auto;
	text-decoration: none;
}

table {
	box-shadow: 10px 10px 5px #888888;
	margin: auto;	
	margin-top: 120px;
}

td {
	background-size: cover;
	border: 4px solid black;
	color: black;
	font-size: 24px;
	height: 100px;
	width: 300px;
	text-align: center;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	transition: height 1s;
	opacity: 1;
}

td:hover {
	color: transparent;
	opacity: 1;
	height: 300px;
	text-shadow: none;
}

.header {
	border: 5px solid black;
	padding-bottom: 40px;
	padding-top:70px;
	text-align: center;
}

.button-style-1 {
	border: 2px solid black;
	color:black;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right:40px;
	padding-left: 40px;
	text-decoration: none;
}

.button-style-1:hover {
	background-color: black;
	border: 2px solid grey;
	color: white;
}

.title {
	border: 4px solid black;
	font-family: Calibri;
	font-size: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 500px;
}

.exhibit {
	margin-top:200px;
	margin-left: 175px;
	margin-right: 175px;
	margin-bottom:200px;
}

.exhibit-image {
	border: 3px solid black;
	border-radius:30px;
	height: 400px;
	width: 600px;
	box-shadow: 10px 10px 5px #888888;
}

.exhibit-blurb {
	height: 400px;
	text-align: center;
}

.exhibit-footer {
	margin-bottom: -10px;
}

.carousel-container {
	border: 5px solid black;
	height:400px;
	width:600px;
	margin: 0 auto;
	position: relative;
}

.instruction-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.carousel-button {
	background-color: white;
	border-radius: 100px;
    border: 5px solid black;
	margin-top: 150px;
    height: 100px;
    width: 100px;
    text-align: center;
    transition: background-color 1s;
    line-height: 100px;
}

.carousel-button-right {
	margin-left: 50px;
	transition: margin-left 1s;
}

.carousel-button-left {
	margin-right: 50px;
	transition: margin-right 1s;
}

.carousel-button-right:hover {
	margin-left:65px;
	background-color: grey;
}

.carousel-button-left:hover {
	margin-right:65px;
	background-color: grey;
}

.instruction-image{
	height:400px;
	display: none;
	width:600px;
}

.instruction-image:first-child {
	display: block;
}

.img-small {
	height:400px;
	width:600px;
}

.layout-header {
	margin-right: 60px;
	margin-left: 60px;
	margin-top: 20px;
}

.layout-header .title {
	margin: 0 auto;
	margin-bottom: 50px;
}

.layout-exhibit-img-left > .exhibit-image {
	float: left;
}

.layout-exhibit-img-right > .exhibit-image {
	float:right;
}

.layout-exhibit-img-left > .exhibit-blurb {
	margin-left: 640px;
}

.layout-exhibit-img-right > .exhibit-blurb{
	margin-right: 640px;
}

.layout-carousel {
	display: inline-flex;
	margin-top: 120px;
}

.layout-carousel.carousel-container, .layout-carousel.carousel-button{
	display: inline-block;
}

#gradient {
  background: beige; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, red , yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, red, yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, red, yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, white , beige); /* Standard syntax */
	height: 400px;
	margin-left: -8px;
	margin-right: -8px;
}

#recipe {
	background: beige;
	margin-top: -40px;
	margin-left: -8px;
	margin-right: -8px;
	text-align: center;
}

.td-clicked {
	border:4px solid green;
	opacity: 0.3;
}

#instructions {
	margin-top: 300px;
}

#one {
	background-image: url("../img/groundbeef.jpg")
}

#two {
	background-image: url("../img/italiansausage.jpg");
}

#three {
	background-image: url("../img/onion.jpg");
}

#four {
	background-image: url("../img/garlic.jpg");
}

#five {
	background-image: url("../img/salt.jpg");
}

#six {
	background-image: url("../img/pepper.jpg");
}

#seven {
	background-image: url("../img/parsely.jpg");
}

#eight {
	background-image: url("../img/oregano.jpg");
}

#nine {
	background-image: url("../img/basil.jpg");
}

#ten {
	background-image: url("../img/tomatoes.jpg");
}

#eleven {
	background-image: url("../img/cottagecheese.jpg");
}

#twelve {
	background-image: url("../img/eggs.jpg");
}

#thirteen {
	background-image: url("../img/cheese.jpg");
}

#fourteen {
	background-image: url("../img/parmesan.jpg");
}

#fifteen {
	background-image: url("../img/noodles.jpg");
}